<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post Detail</title>
  </head>
  <body>
    <h1>Post Detail</h1>
    Title : <%= post.title %><p>
    Content : <%= post.content %><p>
    Author Name: <%= post.author.name %><p>
    Author Email: <%= post.author.email %><p>
    <a href="/posts/postupdate/<%= post._id %>"><button type="button" name="button">Update</button></a>
    <button type="button" name="button" onclick="del();">Delete</button>
  </body>
  <script type="text/javascript">
    function del() {
      var a = confirm("Are you sure for delete!!");
      if(a){
        location.href = "/posts/postdelete/<%= post._id %>";
      }
    }
  </script>
</html>
